dolphin_api_token=
google_spreadsheet_id=
main_messenger_telegram_session=
telegram_responses_api_id=
telegram_responses_api_hash=
telegram_responses_session=
telegram_responses_session_file=
telegram_responses_phone=
telegram_responses_test_to=
telegram_responses_test_message=
google_service_account=
google_sheets_client_id=
google_drive_client_id=
google_spreadsheet_id=
logs_channel_id=
nocodb_api_token=
