node_modules/
dist/
logs/
.tmp/
.pkg/
*.tgz
*-meta.json

.env
.env.*
!.env.example
.telegram-session

project-*.json
*-service-account*.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
project-f5183b61-c5a8-4384-bc9-10f265644c86.json
